.product-container {
  width: 50%;
  margin-right: 25%;
  margin-left: 25%;
  display: grid;
  grid-template-columns: 2fr 2fr;
  grid-auto-rows: 15rem;
  grid-gap: 1rem;
  background-color: green;
  padding: 1rem;
  height: 80vh;
  overflow-y: scroll;
  .product-card {
    padding-bottom: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    border: solid 1px black;
    h2 {
      text-align: center;
      text-shadow: 1px 1px rgb(87, 87, 87);
    }
    a {
      text-decoration: none;
      color: black;
      svg {
        color: black;
      }
    }
    button {
      position: sticky;
      left: 24rem;
      background-color: orange;
      svg {
        color: white;
      }
    }
  }
  .no-items {
    width: auto;
    grid-column: 1/2;
    grid-row: 1;
    margin-left: 5rem;
    img {
      box-shadow: 3px 3px rgba(0, 0, 0, 0.342);
    }
  }
}